# Playing with Spark API: Exercise

Let's create pyspark and get it ready to do things.

In [20]:
import pyspark

spark = pyspark.sql.SparkSession.builder.getOrCreate()

In [21]:
documents = ['This is a document',
             'This is another document',
             'This is yet a third document',
             'When will this list of document end',
             'This is the last document']

In [22]:
doc_df = spark.createDataFrame([(d,) for d in documents], ['word'])

In [23]:
doc_df.show(truncate=False)

+-----------------------------------+
|word                               |
+-----------------------------------+
|This is a document                 |
|This is another document           |
|This is yet a third document       |
|When will this list of document end|
|This is the last document          |
+-----------------------------------+

Let's get a few useful functions ready to go.

In [24]:
from pyspark.sql.functions import split, explode, col, lower, sort_array

doc_df.withColumn('word', split(lower(col('word')), "\s")).show(10, truncate=False)

+-------------------------------------------+
|word                                       |
+-------------------------------------------+
|[this, is, a, document]                    |
|[this, is, another, document]              |
|[this, is, yet, a, third, document]        |
|[when, will, this, list, of, document, end]|
|[this, is, the, last, document]            |
+-------------------------------------------+

In [25]:
doc_df.withColumn('word', explode(split(lower(col('word')), "\s"))).show(10, truncate=False)

+--------+
|word    |
+--------+
|this    |
|is      |
|a       |
|document|
|this    |
|is      |
|another |
|document|
|this    |
|is      |
+--------+
only showing top 10 rows

In [26]:
doc_df.withColumn('word', explode(split(lower(col('word')), "\s")))\
      .where('word != ""')\
      .groupBy('word')\
      .count()\
      .orderBy('count', ascending=False)\
      .show()

+--------+-----+
|    word|count|
+--------+-----+
|document|    5|
|    this|    5|
|      is|    4|
|       a|    2|
|    when|    1|
|     end|    1|
|    will|    1|
|      of|    1|
|     the|    1|
|   third|    1|
|    list|    1|
|     yet|    1|
| another|    1|
|    last|    1|
+--------+-----+

## Words with friends - finding anagrams

In the file "data/words.txt", there is a list of words. Our goal is to group together words that are anagrams of each other (e.g. ACT and CAT).

This will show us how to load from a file, and a cool "canonical representation" trick.

In [27]:
word_df = spark.read.text('data/words.txt')
word_df.show(10)

+--------+
|   value|
+--------+
|      AA|
|     AAH|
|   AAHED|
|  AAHING|
|    AAHS|
|     AAL|
|   AALII|
|  AALIIS|
|    AALS|
|AARDVARK|
+--------+
only showing top 10 rows

First step, let's take every word and split it out into a list of characters and store that as a new column. So we want to go from:

```
| value |
---------
| AA    |
| AAH   |
| ...   |
```

Will become:

```
| value |     key     |
-----------------------
| AA    | [, A, A]    |
| AAH   | [, A, A, H] |
| ...   | ...         |
```

In [28]:
word_df_key = word_df.withColumn('key', sort_array(split(col('value'), "")))
word_df_key.show()

+--------+--------------------+
|   value|                 key|
+--------+--------------------+
|      AA|            [, A, A]|
|     AAH|         [, A, A, H]|
|   AAHED|   [, A, A, D, E, H]|
|  AAHING|[, A, A, G, H, I, N]|
|    AAHS|      [, A, A, H, S]|
|     AAL|         [, A, A, L]|
|   AALII|   [, A, A, I, I, L]|
|  AALIIS|[, A, A, I, I, L, S]|
|    AALS|      [, A, A, L, S]|
|AARDVARK|[, A, A, A, D, K,...|
|AARDWOLF|[, A, A, D, F, L,...|
|   AARGH|   [, A, A, G, H, R]|
|  AARRGH|[, A, A, G, H, R, R]|
| AARRGHH|[, A, A, G, H, H,...|
|     AAS|         [, A, A, S]|
|AASVOGEL|[, A, A, E, G, L,...|
|      AB|            [, A, B]|
|     ABA|         [, A, A, B]|
|   ABACA|   [, A, A, A, B, C]|
|  ABACAS|[, A, A, A, B, C, S]|
+--------+--------------------+
only showing top 20 rows

Now take that new list of characters you created and treat that as a key and group on that and see how many times those keys occur.

In [29]:
# count  of the keys
word_df_key.groupBy('key').count().orderBy('count', ascending=False).show(3)

+--------------------+-----+
|                 key|count|
+--------------------+-----+
|   [, A, E, P, R, S]|   11|
|[, A, E, L, R, S, T]|   11|
|   [, A, E, L, S, T]|   10|
+--------------------+-----+
only showing top 3 rows

What if we want to actually see all the anagrams? Hint: Check out the `collect_list` function.

In [30]:
# If we want the actual anagrams?
from pyspark.sql.functions import collect_list, struct, count

# Bracketing on the outside enables multi-line splitting of one long code
(word_df_key.groupBy('key')
            .agg(collect_list('value').alias('words'), count('key').alias('freq'))
            .orderBy('freq', ascending=False)
            .show(15, truncate=False)
)

+-----------------------+----------------------------------------------------------------------------------------+----+
|key                    |words                                                                                   |freq|
+-----------------------+----------------------------------------------------------------------------------------+----+
|[, A, E, L, R, S, T]   |[ALERTS, ALTERS, ARTELS, ESTRAL, LASTER, RATELS, SALTER, SLATER, STALER, STELAR, TALERS]|11  |
|[, A, E, P, R, S]      |[APERS, APRES, ASPER, PARES, PARSE, PEARS, PRASE, PRESA, REAPS, SPARE, SPEAR]           |11  |
|[, A, E, L, S, T]      |[LEAST, SETAL, SLATE, STALE, STEAL, STELA, TAELS, TALES, TEALS, TESLA]                  |10  |
|[, A, C, E, P, R, S]   |[CAPERS, CRAPES, ESCARP, PACERS, PARSEC, RECAPS, SCRAPE, SECPAR, SPACER]                |9   |
|[, A, E, I, N, R, S, T]|[ANESTRI, ANTSIER, NASTIER, RATINES, RETAINS, RETINAS, RETSINA, STAINER, STEARIN]       |9   |
|[, A, E, L, P, S, T]   |[PALEST, PALETS, PASTEL, PETALS, PLATES, PLEATS, SEPTAL, STAPLE, TEPALS]                |9   |
|[, E, I, N, R, S, T]   |[ESTRIN, INERTS, INSERT, INTERS, NITERS, NITRES, SINTER, TRIENS, TRINES]                |9   |
|[, A, C, E, R, S, T]   |[CARETS, CARTES, CASTER, CATERS, CRATES, REACTS, RECAST, TRACES]                        |8   |
|[, A, E, P, R, S, S]   |[ASPERS, PARSES, PASSER, PRASES, REPASS, SPARES, SPARSE, SPEARS]                        |8   |
|[, A, E, G, I, N, R, S]|[EARINGS, ERASING, GAINERS, REAGINS, REGAINS, REGINAS, SEARING, SERINGA]                |8   |
|[, A, E, L, P, S]      |[LAPSE, LEAPS, PALES, PEALS, PLEAS, SALEP, SEPAL, SPALE]                                |8   |
|[, A, E, S, T]         |[ATES, EAST, EATS, ETAS, SATE, SEAT, SETA, TEAS]                                        |8   |
|[, E, E, N, R, S, T]   |[ENTERS, NESTER, RENEST, RENTES, RESENT, TENSER, TERNES, TREENS]                        |8   |
|[, A, E, L, R, S]      |[ARLES, EARLS, LARES, LASER, LEARS, RALES, REALS, SERAL]                                |8   |
|[, E, I, P, R, S]      |[PERIS, PIERS, PRIES, PRISE, RIPES, SPEIR, SPIER, SPIRE]                                |8   |
+-----------------------+----------------------------------------------------------------------------------------+----+
only showing top 15 rows