In [1]:
!cd

C:\Users\xianj\Desktop\Coding Journey\metis\Curriculum (Wk 1-12)\Week 4\Day 4\sql-setup